In [1]:
import pandas as pd

#create DataFrame
df = pd.DataFrame({'team': ['Mavs', 'Lakers', 'Spurs', 'Cavs'],
                   'name': ['Dirk', 'Kobe', 'Tim', 'Lebron'],
                   'rebounds': [11, 7, 14, 7],
                   'points': [26, 31, 22, 29]})

#view DataFrame
df

     team    name  rebounds  points
0    Mavs    Dirk        11      26
1  Lakers    Kobe         7      31
2   Spurs     Tim        14      22
3    Cavs  Lebron         7      29

In [7]:
#drop any rows that have 7 in the rebounds column
df = df[df.rebounds != 7]
df = df[df.rebounds != 14]

In [8]:
#view resulting DataFrame
df

   team  name  rebounds  points
0  Mavs  Dirk        11      26